.SearchBar {
  position: relative;
  display: flex;
}

.search-input {
  width: 100%;
  padding: 8px 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.search-input:focus {
  border: 2px solid #999999;
  outline: none;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 24%;
}

.search-icon:hover {
  filter: invert(62%) sepia(87%) saturate(275%) hue-rotate(344deg)
    brightness(80%) contrast(98%);
}
